# Ignore everything
/*

# Whitelist specific folders
!/cpp/
!/opencl/
!/verilog/
!/md6/

# Whitelist specific files
!/*.cpp
!/*.h
!/*.hpp
!/*.c
!/.gitignore
!/.pre-commit-config.yaml
!/Makefile
!/README.md

# Blacklist specific files
.idea/
bin/
obj/
